body {
    background-color: Linen;
    color: Indigo;
    font-family: Arial;
    margin: 0px;
}

main {background-color: AliceBlue	;
    color: Indigo;
    font-family: Arial;
    margin: 5px;
    padding: 10px;
}

header {background-color:  Teal; 
    color: Ivory; 
    padding: 15px;  
    font-size: 16pt; 
    text-align: center;
}

footer {background-color:  Teal; 
    color: Ivory; 
    padding: 12px; 
    font-size: 12pt; 
    text-align: left;
}

a {
    color: green;
    text-decoration: none;
    transition: 1s 2s;
}

a:link {
    color: RosyBrown;
}

a:visited {
    color: Indigo;
}

a:hover {
    background-color: LemonChiffon;
    color: Red;
    text-shadow: -1px 10px 10px #C0C0C0;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    border: 9px solid #008B8B80;
    background-color: #ffffff30;
    box-shadow: 0 0 20px #00000030;
}

h1 {
    text-align: center;
    padding: 20px;
}
